# Second Agate Assignment

With this assignment, we need to import some data, filter out non-UNL campuses and calculate a average salary and a median salart for all UNL employees. The first step is always import the libraries you need. For now and the forseeable future, we just need Agate.

In [1]:
import agate

Let's add some data.

In [2]:
salaries = agate.Table.from_csv('../../Data/nusalaries1415.csv')

In [3]:
print(salaries)

|-------------------+---------------|
|  column_names     | column_types  |
|-------------------+---------------|
|  ID               | Number        |
|  Campus           | Text          |
|  DepartmentNumber | Date          |
|  DepartmentName   | Text          |
|  CostElement      | Number        |
|  Name             | Text          |
|  Title            | Text          |
|  Position         | Number        |
|  Class            | Number        |
|  Term             | Number        |
|  FTE              | Number        |
|  Salary           | Number        |
|-------------------+---------------|

Now we just want UNL, so we need to filter those out.

In [4]:
unl = salaries.where(lambda row: row['Campus'] is 'University of Nebraska-Lincoln')

In [5]:
print(len(unl.rows))

0

Uh oh. How could this be? The answer is almost always a bad filter condition. In this case, it's not title cased, it should be all caps. And there's a space between the dash on both sides.

In [6]:
unl = salaries.where(lambda row: row['Campus'] is 'UNIVERSITY OF NEBRASKA - LINCOLN')

In [7]:
print(len(unl.rows))

0

Now, what the hell? That should work, right? Well, not exactly. We need to set our row equal to UNIVERISTY ... and we can't use the regular `=` to do it. We need to use `==` which in Python is actually equal to. The single equal sign is for assigning varables.

In [8]:
unl = salaries.where(lambda row: row['Campus'] == 'UNIVERSITY OF NEBRASKA - LINCOLN')

In [9]:
print(len(unl.rows))

6948

That's better. Now let's create an average salary.

In [10]:
average_salary = unl.aggregate(agate.Mean('Salary'))
print(average_salary)

71766.36931491076568796776051

So the average salary is \$71,766. Which might be influenced by the \$2.5 million the football coach makes, or the cool million the basketball coach makes. Maybe. Let's see by creating a median salary.

In [11]:
median_salary = unl.aggregate(agate.Median('Salary'))
print(median_salary)

54200

That's much more realistic. But it's also not representative of individual jobs. We'll be curious about those. So let's group them together and do the same aggregates on the grouped salaries.

In [12]:
by_position = unl.group_by('Title')

Now we create some aggregates of those. We can chain those together into a single table. This will give us a count, a median and an average all in the same table so we can compare.

In [13]:
jobs = by_position.aggregate([
    ('count', agate.Length()),
    ('median_salary', agate.Median('Salary')),
    ('average_salary', agate.Mean('Salary'))
])

Now that we have that, we want to sort it and then print it out so we can see it.

In [14]:
sorted_jobs = jobs.order_by('count', reverse=True)
sorted_jobs.print_table(max_rows=50)

|----------------------------------+-------+---------------+---------------------------------|
|  Title                           | count | median_salary |                 average_salary  |
|----------------------------------+-------+---------------+---------------------------------|
|  Professor                       |   788 |     122,289.0 | 129,447.2131979695431472081218  |
|  Associate Professor             |   324 |      77,648.0 |  83,942.1049382716049382716049  |
|  Assistant Professor             |   184 |      71,050.0 |  79,873.3152173913043478260870  |
|  Custodian II                    |   181 |      23,893.0 |  24,498.8453038674033149171271  |
|  Asst Professor                  |   152 |      83,353.0 |  83,441.4605263157894736842105  |
|  Assoc Professor                 |   127 |      93,592.0 |  96,058.7716535433070866141732  |
|  Director                        |    86 |     142,127.5 | 139,503.9302325581395348837209  |
|  Office Assoc                    |    81 |      34,290.0 |  34,750.0987654320987654320988  |
|  Rsch Technologist I             |    63 |      36,476.0 |  38,035.6825396825396825396825  |
|  Ag Rsch Technician II           |    63 |      34,907.0 |  37,418.8412698412698412698413  |
|  Residence Hall Custodian II     |    57 |      22,904.0 |  23,683.5789473684210526315790  |
|  Dining Service Associate        |    50 |      22,360.0 |  22,662.2000000000000000000000  |
|  Post-Doc Rsch Assoc             |    50 |      40,270.0 |  39,825.6600000000000000000000  |
|  Assistant Director              |    47 |      55,764.0 |  58,696.7659574468085106382979  |
|  Assistant Professor of Practice |    46 |      66,106.5 |  68,461.5869565217391304347826  |
|  Extension Educator              |    43 |      86,480.0 |  87,412.1395348837209302325581  |
|  Asst Exten Educator             |    41 |      46,686.0 |  50,110.7560975609756097560976  |
|  Staff Secy III                  |    40 |      31,467.5 |  31,389.1000000000000000000000  |
|  Ag Rsch Technician I            |    39 |      27,534.0 |  29,592.3076923076923076923077  |
|  Rsch Technologist II            |    38 |      42,201.5 |  42,368.8157894736842105263158  |
|  Ag Rsch Technician III          |    38 |      40,916.5 |  41,310.5789473684210526315790  |
|  Cler Asst III                   |    36 |      33,606.0 |  33,699.0555555555555555555556  |
|  Assoc Exten Educator            |    34 |      56,504.0 |  57,107.3529411764705882352941  |
|  Associate Director              |    33 |      85,256.0 |  84,660.1212121212121212121212  |
|  Chairperson                     |    33 |     138,800.0 | 139,271.5454545454545454545455  |
|  Exten Educator                  |    33 |      71,385.0 |  73,839.1212121212121212121212  |
|  Staff Assistant                 |    32 |      35,012.0 |  35,045.7500000000000000000000  |
|  Admin Support Assoc             |    31 |      35,852.0 |  37,964.0322580645161290322581  |
|  Lecturer                        |    30 |      48,403.0 |  53,786.1666666666666666666667  |
|  Research Assistant Professor    |    29 |      60,000.0 |  60,412.0344827586206896551724  |
|  Dining Service Team Leader      |    27 |      28,898.0 |  31,158.9259259259259259259259  |
|  Manager                         |    26 |      67,650.0 |  66,805.2307692307692307692308  |
|  Department Head                 |    26 |     184,748.0 | 183,279.0769230769230769230769  |
|  Business Manager                |    25 |      59,008.0 |  59,706.4800000000000000000000  |
|  Sr Dining Service Associate     |    24 |      26,319.0 |  26,886.5000000000000000000000  |
|  Coordinator                     |    23 |      59,356.0 |  71,418.2608695652173913043478  |
|  Administrative Tech I           |    22 |      39,241.0 |  40,560.4090909090909090909091  |
|  Associate Professor of Practice |    22 |      72,253.5 |  79,191.8636363636363636363636  |
|  Rsch Asst Professor             |    22 |      62,844.5 |  65,182.5000000000000000000000  |
|  Custodial Specialist            |    21 |      25,995.0 |  27,840.1428571428571428571429  |
|  Police Officer                  |    21 |      53,830.0 |  54,060.9047619047619047619048  |
|  Office Associate                |    20 |      29,954.5 |  30,998.4000000000000000000000  |
|  Administrative Technician       |    19 |      33,594.0 |  33,098.1578947368421052631579  |
|  Accounting Assoc                |    19 |      35,521.0 |  36,092.5263157894736842105263  |
|  Accounting Technician           |    18 |      35,086.0 |  34,996.7222222222222222222222  |
|  Project Manager                 |    18 |      59,889.0 |  58,241.5555555555555555555556  |
|  Office Asst                     |    18 |      27,311.0 |  30,980.7222222222222222222222  |
|  Residence Hall Custodial Leader |    17 |      29,888.0 |  30,440.7058823529411764705882  |
|  Rsch Mgr Lab I                  |    17 |      49,575.0 |  51,431.4705882352941176470588  |
|  Administrative Coordinator      |    16 |      40,955.0 |  40,730.0000000000000000000000  |
|  ...                             |   ... |           ... |                            ...  |
|----------------------------------+-------+---------------+---------------------------------|

Being a full professor is a pretty good gig. But notice something about the jobs? Associate professor vs assoc professor? Same with assistant vs asst? That's a problem for another day.