# Group by walkthrough
By now, you'd better know that you need to import Agate.

In [2]:
import warnings
warnings.filterwarnings('ignore')

import agate

And you need data.

In [4]:
mountainlions = agate.Table.from_csv('../../Data/mountainlions.csv')
print(mountainlions)
print(len(mountainlions.rows))

| column      | data_type |
| ----------- | --------- |
| ID          | Number    |
| Cofirm Type | Text      |
| COUNTY      | Text      |
| Date        | Date      |

393

First, let's group them together using `group_by`. We'll create a new table, called `by_county` and populate it with the results of our `group_by` statement. The new table is a subset of our first table we created on import, so we'll have to be sure to use that.

In [4]:
by_county = mountainlions.group_by('COUNTY')

In [5]:
print(len(by_county))

42

So that means 42 counties had mountain lion sightings. Out of 93 Nebraska counties. That's a chunk. However, it helps to know what by using group_by, we haven't actually created a new table. We've created a TableSet. Which is why you can't print it and see it.

In [6]:
by_county.print_table()

AttributeError: 'TableSet' object has no attribute 'print_table'

To make something out of a `group_by` TableSet, we have to run some aggregates on it. That looks like this:

In [9]:
county_totals = by_county.aggregate([
    ('count', agate.Count())
])

In [10]:
county_totals.print_table()

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Scotts Bluff |    26 |
| Box Butte    |     4 |
| Howard       |     3 |
| Brown        |    15 |
| Douglas      |     2 |
| Cherry       |    30 |
| Thomas       |     5 |
| Keya Paha    |    20 |
| Dakota       |     3 |
| Sarpy        |     1 |
| Custer       |     8 |
| Sheridan     |    35 |
| Banner       |     6 |
| Knox         |     8 |
| Nance        |     1 |
| Platte       |     1 |
| Dawson       |     5 |
| Rock         |    11 |
| ...          |   ... |

That's more like it. But it's not in order, so it is sort of bothersome. We can fix that just like we did in the first walkthrough -- with ordering.

In [11]:
sorted_counties = county_totals.order_by('count', reverse=True)
sorted_counties.print_table()

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Sheridan     |    35 |
| Cherry       |    30 |
| Scotts Bluff |    26 |
| Keya Paha    |    20 |
| Brown        |    15 |
| Rock         |    11 |
| Lincoln      |    10 |
| Custer       |     8 |
| Knox         |     8 |
| Banner       |     6 |
| Thomas       |     5 |
| Dawson       |     5 |
| Nemaha       |     5 |
| Box Butte    |     4 |
| Howard       |     3 |
| Dakota       |     3 |
| Blaine       |     3 |
| Buffalo      |     3 |
| ...          |   ... |

A note on `print_table`: You can limit the number of rows you print by addng max_rows=X to the print_table in the parenthesis, like this:

In [12]:
sorted_counties.print_table(max_rows=10)

| COUNTY       | count |
| ------------ | ----- |
| Dawes        |   111 |
| Sioux        |    52 |
| Sheridan     |    35 |
| Cherry       |    30 |
| Scotts Bluff |    26 |
| Keya Paha    |    20 |
| Brown        |    15 |
| Rock         |    11 |
| Lincoln      |    10 |
| Custer       |     8 |
| ...          |   ... |